.textDiv{
    width:1000px;
    height:65px;
    font-size: 15px;
    line-height: 21px;
    font-weight: normal;
    margin:0 auto
}

.sortDiv{
    font-size: 14px;
    line-height: 19.6px;
    margin-bottom: 0px;
}
.downloadInventoryCss{
    width: 129px;
}
.ant-table-header-column{
    font-size: 14px;
}
.warning {
    color: #EB5757;
    letter-spacing: 0;
}
.custom-pad12 {
    padding: 0 12px;
}
.tableTbInventory{
    padding:0px !important;
    height: 42px;
    text-align: left;
    background-color: white !important;
}
.tableTbInventorylot{
    padding:0px !important;
    height: 42px;
    width:150px;
    background-color: white !important;
}
.uploadInventoryModel{
    padding:0px !important;
}
