html, body {
  overflow: auto;
}

.drawer-open ::selection {
  background: transparent;
}

.drawer-left .ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: transparent;
  box-shadow: none;
}

.drawer-left .ant-menu-dark .ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow {
  zoom: 1.5;
  right: 0;
  opacity: 1;
}

.ant-popover {
    /* z-index: 10000 !important; */
}

.drawer-right {
  z-index: 1000 !important;
}

.ant-popover-inner {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35) !important;
}

.ant-popover-placement-left>.ant-popover-content>.ant-popover-arrow,
.ant-popover-placement-leftTop>.ant-popover-content>.ant-popover-arrow,
.ant-popover-placement-leftBottom>.ant-popover-content>.ant-popover-arrow {
  box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.15) !important;
}

.no-border input,
.sales-cart-input input {
  border: 0;
  border-radius: 0;
  background: transparent;
  border-bottom: 1px solid black;
  color: black;
  font-size: 17px;
  font-family: 'Arial';
  font-weight: bold;
  padding: 0;
}

.sales-cart-input input {
  border-bottom: 0;
}

.sales-cart-input.black-bottom {
  border-width: 0;
  border-bottom-color: black;
  border-bottom-width: 1px;
}

.focused-btn {
  border-width: 3px !important;
}

.no-border .ant-calendar-picker-clear,
.no-border .ant-calendar-picker-icon {
  right: 0;
}

#root+svg {
  position: absolute;
}

.even-row {
  background-color: transparent !important;
}

.error-tooltip.ant-tooltip {
  max-width: 312px;
}

.error-tooltip .ant-tooltip-arrow::before {
  /* box-shadow: -1px 1px 15px #c80000 !important; */
  background-color: white;
}

.error-tooltip .ant-tooltip-inner {
  background-color: white;
  /* box-shadow: 0 2px 8px #c80000; */
  color: black;
  min-width: 260px;
  padding: 8px 12px;
}

.order-sales-modal .ant-modal-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.order-sales-modal .ant-modal-body {
  padding: 15px;
}

.order-sales-modal .ant-btn.ant-btn-primary, .order-sales-modal .ant-btn.ant-btn-primary:focus {
  border-color: #f1376b !important;
  background-color: #f1376b !important;
}

.order-sales-modal .ant-btn.ant-btn-primary,
.order-sales-modal .ant-btn.ant-btn-primary:focus {
  border-color: #f1376b !important;
  background-color: #f1376b !important;
}

.order-sales-modal .ant-btn.ant-btn-primary:hover {
  border-color: #ca2f5b !important;
  background-color: #ca2f5b !important;
}

.editable-cell-value-wrap {
  height: 100%;
  display: flex;
  align-items: center;
}

.inputDisabled .ant-input[disabled], .inputDisabled .ant-time-picker-input[disabled] {
  color: black !important;
  background-color: transparent !important;
}

.selected-row {
  background-color: #a7e2fb;
}

.anticon-close-circle.ant-calendar-picker-clear {
  margin-right: 20px;
  background: transparent;
}

.orders-delivery-date .ant-calendar-picker-icon {
  right: 0;
}


.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  z-index: 1;
}

.select-option {
  overflow: visible !important;
  text-overflow: unset !important;
}

.ant-upload-list-picture-card .ant-upload-list-item-info::before {
  left: 0
}

/* .ant-popover .ant-btn:focus {
    border: 2px solid black !important;
} */

.tab-able-el input:focus {
  border: 2px dotted gray;
}

.ant-table-tbody a.tab-view-link {
  padding: 5px;
}

.ant-table-tbody a.tab-view-link:focus {
  border: 2px solid black;
}


.cancel-order-mask {
  /* filter: grayscale(100%); */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 260px;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45)
}


.ant-select-auto-complete.ant-select.bold-blink .ant-input:focus {
  border-right-width: 3px !important;
}

@keyframes blinker {
  50% {
    border-color: transparent;
  }
}

div.bold-blink input:focus, input.bold-blink:focus, span.bold-blink:not(.black-bottom),
.ant-select.ant-select-enabled.bold-blink:not(.black-bottom),
span.bold-blink input:focus {
    animation: blinker 1s linear infinite;
    border-width: 3px !important;
    /* transition: border-width 0.6s linear; */
}

.ant-btn.bold-blink:focus{
  border-width: 3px !important;
}


.print:last-child {
  page-break-after: auto;
}

.focused-calendar {
  /* border-width: 3px !important; */
}

.ant-btn:not(.bold-blink, .transparent-button):focus {
  /* animation: blinker 1s linear infinite; */
  /* border: 3px solid black !important; */
}


.hideNumberHandler>.ant-input-number>.ant-input-number-handler-wrap {
  display: none !important;
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.pricing-group-table-wrapper table thead tr th:last-child {
  text-align: center !important;
}

.category-edit{
  position: relative;
  right: -15px;
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 4px;
}

.status-indicator.new {
  background-color: grey;
}

.status-indicator.picking {
  background-color: black;
}

.status-indicator.shipped {
  background-color: green;
}

.transparent-button {
  border: none !important;
  background-color: transparent;
}
.custom-dropdown-arrow {
  position: absolute;
  right: 10px;
  top: 2px;
  color: rgba(0, 0, 0, 0.25) !important;
}

.custom-dropdown-arrow svg {
  width: 12px
}

.enter-purchase-add-brand-list li.ant-select-dropdown-menu-item-selected {
  display: none;
}

th.name-order .ant-table-column-title {
  font-size: 16px !important;
}

.weight-sheet-dropdown-renderer ul{
  height: 200px
}

.ant-form-item-required::before {
  display: none !important;
}

.ant-form-item-required::after, .ant-form-item-required span.form-label::after {
  display: inline-block;
    margin-left: 4px;
    color: black;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
}

.pr-50{
  padding-right: 50px!important;
}
