<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="<% htmlWebpackPlugin.options.PUBLIC_URL %>/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <link rel="manifest" href="<% htmlWebpackPlugin.options.PUBLIC_URL %>/manifest.json">
  <link rel='stylesheet' type='text/css'
    href='<%= htmlWebpackPlugin.options.BUILD_PATH %>/base.css?v=<%= htmlWebpackPlugin.options.timestamp %>'>

  <script src="//unpkg.com/xlsx/dist/xlsx.full.min.js" type="text/javascript"></script>
  <title>WholesaleWare</title>

  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/20868706.js"></script>
  <!-- End of HubSpot Embed Code -->
</head>

<body id='document_body'>
  <!-- <%=htmlWebpackPlugin.options.commitSHA %> -->
  <!-- <%=htmlWebpackPlugin.options.version %> -->
  <div id="root"></div>
  <!-- svg clipPath to implement drawer background effect -->
  <svg width="0" height="0">
    <defs>
      <clipPath id="drawerClip">
        <path d="M0 0h48v103.5c0 105.5-41 157-41 387V3000H0V0z" />
      </clipPath>
      <clipPath id="mobileDrawerClip">
        <path
          d="M-306 0H56H69C69 22.5 70.0857 52.8829 33 80.8795C-0.275787 106 -0.275787 112.5 -0.275787 168C-0.275787 235 0 276.62 0 675H-306V0Z"
          fill="#0D4B1C" />
      </clipPath>
    </defs>
  </svg>
</body>

</html>
