

/*
header css
*/
.uploadModel{
    width:955px !important;
    padding:17px 55px;
}

.uploadModel .ant-btn {
  line-height: 32px;
}

.uploadModelTitle{
    display: flex;
}

.stageHeader{
    width:33%;
    display: inline;
}

.herderText{
    text-align: center;
    font-size: 12px;
    margin-bottom: 0px;
}

.showCircle {
    border: #1C6E31 1px solid;
    width:20px;
    height:20px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #1C6E31;
}

.hideCircle {
    border: #C1C3C1 1px solid;
    width:20px;
    height:20px;
    margin: 0 auto;
    border-radius: 50%;
}

.showHeaderIndex {
    color:white;
}

.hideHeaderIndex {
    color:#C1C3C1;
}

.showHeaderText {
    color:black;
}
.showAlert{
    display: inline;
}

/*
stage 1
*/
/*
select css
*/

.selectDiv {
    margin-left: 110px;
    margin-top: 18px;
    margin-bottom: 12px;
}

.uploadSelect {
    width:50%;
    height: 42px;
}

.stepText{
    font-size: 28px;
    line-height: 36px;
    color:#555F61;
}

.downloadCss{
    color:#1C6E31;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    margin-left: 110px;
}

/* buttons */

.buttonBox{
    position: relative;
    display: flex;
    width:797px;
}

.nextButtonShow{
    background-color: #1C6E31 !important;
    position: absolute !important;
    color: white !important;
    right: 100px;
    bottom:20px;
}

.nextButtonHide{
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
    position: absolute !important;
    right: 100px;
    bottom:20px;
}

.cancelButton{
    background-color: white !important;
    position: absolute !important;
    color: #BDBDBD !important;
    right: 10px;
    bottom:20px;
}

.relative {
  position: relative !important;
}

.mapdata-btns {
  position: absolute;
  right: 0;
  margin-top: 45px;
}
.mapdata-btns .ant-btn {
  margin-left: 10px;
}

.split-params {
  margin-top: 15px;
  margin-left: 25px;
}
.split-params h3 {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
}
.split-params label {
  font-weight: normal;
}
.split-params input {
  margin-bottom: 10px;
}
/*
stage 2
*/

.importDiv {
    margin-left: 20px;
    margin-top: 18px;
    margin-bottom: 12px;
    position: relative;
    margin-right: 20px;
}

.importTitle{
    color:#555F61;
    font-size:28px !important;
    font-weight: normal;
    margin-bottom: 5px;
}

.total-items {
  display: block;
  margin-bottom: 10px;
  margin-left: 5px;
}

.importTableLine{
    display: flex;
    width:100%;
    height: 40px;
}

.importSelect {
    width:23%;
    height: 40px;
}
.importPLeft {
    width:190px;
    height: 40px;;
}

.importPLeft1 {
    background: linear-gradient(#bdbebd, white);
}
.importPLeft2 {
    background: linear-gradient(white,#bdbebd);
}
.importPRight {
    height: 40px;
}
.flexDiv{
    display:flex;
    width:100%;
    position: relative;
    overflow-y: scroll;
}
.leftDiv{
    width: 50%;
}
.rightDiv{
    width: 50%;
}
.rightDiv{
    width: 50%;
}

.boldStyle{
    font-weight: bold;
    line-height: 20px;
}

.resetButton{
    float: right;
    position: absolute;
    top:0px;
    right:0px;
    color:#1C6E31;
    border: 1px solid #1C6E31;
    width:60px;
    height:30px;
    border-radius: 10px;
    font-size: 12px;
}

.preview-container {
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
}
.preview-orders {
  width: max-content;
}
.preview-so {
  float: left;
  width: 250px;
  padding-left: 30px;
  border-right: 1px solid #ddd;
  margin-bottom: 10px;
}
.preview-so:first-child {
  padding-left: 0
}
.preview-so.last {
  border-right: 0;
}
.specs span {
  display: block;
  font-weight: normal;
  font-size: 13px;
}
.preview-so button {
  color: #1C6E31;
  padding-left: 0;
  margin-top: 10px;
}
.clear {
  clear: both;
}
.so-items {
  position: relative;
  padding-bottom: 5px;
  max-height: 265px;
  overflow-y: auto;
}
.so-items .v-center {
  margin-bottom: 5px;
  padding-right: 30px;
}
.so-items .v-center span {
  display: block;
  text-align: left;
}

.so-items svg {
  position: absolute;
  right: 8px;
  cursor: pointer;
  display: none;
}

.so-items .v-center:hover svg {
  display: block !important;
}

.so-items svg path {
  fill: #1C6E31;
}
.move-item-wrapper label {
  margin-top: 15px;
  display: block;
}

.move-item-wrapper .ant-select {
  width: 260px;
  display: block;
}
