.leftText{
    font-size:"14px" !important;
    font-family:"Inter" !important;
    color:"black" !important;
    font-weight:"bold" !important;
    line-height:"19.6px" !important;
    text-align:"right" !important;
    margin-bottom: 0 !important;
}