@primary-color: #1C6E31;
@link-color: #1C6E31;
@layout-header-background: #1C6E31;

// https://github.com/ant-design/ant-design/blob/master/components/table/style/index.less#L387
@border-color-split: #EDF1EE;
