

/*
left part
*/

.newLabelLeftText{
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 34px;
    cursor: pointer; 
    width:130px;
    text-align: left;
    margin-left: 120px;
}

.newLabelRightPartTitle{
    padding-left: 49.53px;
    height: 53px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px #D8DBDB solid;
}

.newLabelRightLeftPadding{
    padding-left: 49.53px;
}

